<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;"
                                              src="img/diageologotransparent.png">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/consumer">Whisky</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="rows">

    <div class="col-md-12">
        <iframe width="350" height="260" src="//www.youtube.com/embed/BHpDJFnwX_U?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
            <!--<iframe class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="http://www.youtube.com/watch?v=MnSIp76CvUI&feature=kp" frameborder="0" allowfullscreen></iframe>-->
    </div>
</div>

<div class="rows">

    <div class="col-md-12">
    <h3> Recipes For <b>Scotch (61)</b></h3>
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" src="img/robroy.jpg" width="50" height="50" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Rob Roy</h4>
                    Created in 1894 by a bartender at the Waldorf-Astoria Hotel in New York City, the Rob Roy is a mix of Scotch whisky and vermouth that delivers a burst of sweet, earthy and spicy flavours.
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" src="img/manhattan.jpg" width="50" height="50" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">The Singleton Manhattan</h4>
                    This classic cocktail is given a delicious Scotch whisky twist thanks to the rich, smooth flavours of the approachable The Singleton of Dufftown malt. Stir carefully and savour with your guests.
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" src="img/redlabelgingerale.jpg" width="50" height="50" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Red Label and Ginger Ale</h4>
                    A spicy lift to the perfect mixing whisky, the ginger highlights the subtle spice flavours among other great tastes in Johnnie Walker Red Label in this simple, mixed drink.
                </div>
            </li>
        </ul>
    </div>
</div>

<!--</div>-->