<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;"
                                              src="img/diageologotransparent.png">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/consumer">History</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="rows">

    <div class="col-md-12">
        <h3>Scan Results</b></h3>
        <br>
        <div class="alert alert-warning alert-dismissable"> Bottle Scanned and Added to your Account</div>
        <br>
        <h3>Current Account Balance</h3>
        <br>
        <img class="media-object img-rounded" src="img/dashboard.png" width="325" height="450" alt="...">
    </div>
</div>

<!--</div>-->