<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Diageo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/consumer">History</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="rows">

    <div class="col-md-12">
        <h3>Scan Results</b></h3>
        <br>
        <div class="alert alert-warning alert-dismissable"> Bottle Scanned and Added to your Account</div>
        <br>
        <h3>Current Account Balance</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">3</span>
                Johnnie Walker Black Label
            </li>
            <li class="list-group-item">
                <span class="badge">12</span>
                Smirnoff Red Label
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Johnnie Walker Red Label
            </li>
        </ul>
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Johnnie Walker Black Label</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<ul class="media-list">-->
                    <!--<li class="media">-->
                        <!--<a class="pull-left" href="#">-->
                            <!--<img class="media-object img-rounded" src="img/bottles4.jpg" width="50" height="50" alt="...">-->
                        <!--</a>-->
                        <!--<div class="media-body">-->
                            <!--<h1 class="media-heading">6</h1>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!--</div>-->